/*--------------------------
All style start from here 
----------------------------*/
/* Commonstyle for all */
body{
    font-family: 'Poppins', sans-serif;
}
/* Top banner style */
.top-banner{
    display: flex;
    background-color: #2D25A0;
    justify-content: space-between;
    margin-bottom: 60px;

}
.top-photo img{
    width: 556.01px;
    height: 438px;
    padding-left: 200px;

}
.top-photo:hover{
    transform: rotate(360deg);
    transition: transform 1s;
    transform-origin: center;
}
.top-text{
    text-align: center;
}
.top-text h1{
    text-align: center;
    color: azure;
    font-weight: 700;
    font-size: 64px;
    padding-left: 100px;
    padding-top: 100px;
}
.top-button{
    text-decoration: none;
    background-color: #E02C6D;
    border-radius: 4px;
    color: antiquewhite;
    padding: 10px 24px;
}
.top-button:hover{
    color: black;
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
}


/*Football Players Style */
.football-players{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 60px;
    justify-content: center;
}
.player{
    padding: 15px;
    margin-bottom: 20px;
    width: 330px;
    height: 474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-photo img{
    padding-left: 20px;
    width: 300px;
    height: 256px;
    
}
.player-detail{
    color:  #6C6C6C;
}